

<h1>Lista Contactos</h1>
<button (click)="toggle()">Show/hide table</button>
<table [ngClass]="displayText">
  <thead>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Telefono</th>
    <th>Borrar</th>

  </thead>
  <tbody>
    <tr *ngFor="let item of listContacto"> 
      <td>{{item.nombre}}</td>
      <td>{{item.apellido}}</td>
      <td>{{item.telefono}}</td>
      <td><button (click)="eliminar(item)">Eliminar</button></td>
    </tr>  
  </tbody>
</table>
<h1>Eliminar por telefono</h1>
  <input [(ngModel)]="telefono"/>
  <button (click)="eliminarPorTelefono()">Eliminar</button>


<h1>Añadir Contacto</h1>
  <input [(ngModel)]="nombre"/>
  <input [(ngModel)]="apellido"/>
  <input [(ngModel)]="telefono"/>
  <button (click)="add()">Añadir</button>

